{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}

<div class="login-box">
 
    <form action="/register" method="post">
      <div class="user-box">
        <input  name="username" type="text">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input  name="password" type="password">
        <label>Password</label>
      </div><center>
      <div class="user-box">
        <input  name="confirm" type="password">
        <label>Confirm Password</label>
      </div><center>
      <button type="submit">
             Register
         <span></span>
      </button></center>
    </form>
  </div>

{% endblock %}